::ng-deep {
  .p-card {
    width: 30vmax;
    background-color: var(--body-dark);
    color: var(--text);
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 3vmax;
  align-items: center;
  padding-top: 2vmax;
}

.image {
  display: flex;
  padding: 1vmin;
  width: 100%;
  border-radius: 10px;
}

@media (max-width: 768px) {
  ::ng-deep {
    .p-card {
      width: 100%;
    }
  }
  .content {
    gap: 6vmax;
    padding-top: 5vmax;
  }
}
