.container {
  display: flex;
  padding: 2vmax;
  background-color: var(--body-light);
  align-items: center;
  justify-content: center;
}

.error-message {
  color: var(--error);
  font-size: 12px;
}
