<div class="container">
  <app-card>
    <span class="p-float-label">
      <input
        name="cep"
        id="cep"
        class="cep"
        (blur)="onInputCep()"
        (input)="clearCep()"
        [(ngModel)]="cep"
        pattern="^\d+$"
        minlength="8"
        maxlength="8"
        pInputText
        #cepModel="ngModel"
      />
      <label for="cep">CEP</label>
      @if (cepModel.errors?.['pattern'] || cepModel.errors?.['minlength']) {
      <div class="error-message">O CEP deve conter 8 dígitos numéricos.</div>
      } @if (cepError) {
      <div class="error-message">CEP não encontrado.</div>
      }
    </span>
    <app-input
      name="street"
      id="street"
      class="form-control"
      [(ngModel)]="street"
      label="Rua"
    />
    <app-input
      name="complement"
      id="complement"
      class="form-control"
      [(ngModel)]="complement"
      label="Complemento"
    />
    <app-input
      name="state"
      id="state"
      class="form-control"
      [(ngModel)]="state"
      label="Estado"
    />
    <app-input
      name="city"
      id="city"
      class="form-control"
      [(ngModel)]="city"
      label="Cidade"
    />
    <app-input
      name="district"
      id="district"
      class="form-control"
      [(ngModel)]="district"
      label="Bairro"
    />
  </app-card>
</div>
